<div class="grid">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div role="group">
		<button hx-get="/asset/edit/{{$.EngagementName}}/{{.Asset.Key}}" hx-target="body">Edit</button>
		<button class="bg-red" hx-delete="/asset/{{$.EngagementName}}/{{.Asset.Key}}" hx-confirm='Are you sure you want to delete "{{.Asset.Name}}"' hx-target="body">Delete</button>
	</div>
</div>
{{if ne .Asset.Parent ""}}
<h3>Parent</h3>
{{.Asset.Parent}}
<br>
<br>
{{end}}


{{if ne .Asset.AssetType ""}}
<h3>Type</h3>
{{.Asset.AssetType}}
<br>
<br>
{{end}}

<h3>Findings on this Asset</h3>
{{range .Findings}}
<p role="group">
	<a role="button" class="outline" href="/finding/view/{{$.EngagementName}}/{{.Key}}">{{.Title}}</a>
	{{if eq .Severity 0}}
	<button class="no-click b-none bg-info">Severity: Info</button>
	{{else if eq .Severity 1}}
	<button class="no-click b-none bg-low">Severity: Low</button>
	{{else if eq .Severity 2}}
	<button class="no-click b-none bg-medium">Severity: Medium</button>
	{{else if eq .Severity 3}}
	<button class="no-click b-none bg-high">Severity: High</button>
	{{else if eq .Severity 4}}
	<button class="no-click b-none bg-critical">Severity: Critical</button>
	{{end}}
	<div></div>
	<div></div>
	<div></div>
</p>
{{end}}
