<div class="grid">
	<div class="centered">
		{{if eq .Finding.Severity 0}}
		<button class="no-click b-none bg-info">Severity: Info</button>
		{{else if eq .Finding.Severity 1}}
		<button class="no-click b-none bg-low">Severity: Low</button>
		{{else if eq .Finding.Severity 2}}
		<button class="no-click b-none bg-medium">Severity: Medium</button>
		{{else if eq .Finding.Severity 3}}
		<button class="no-click b-none bg-high">Severity: High</button>
		{{else if eq .Finding.Severity 4}}
		<button class="no-click b-none bg-critical">Severity: Critical</button>
		{{end}}
	</div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>

	<div role="group">
		<button hx-get="/finding/edit/{{$.EngagementName}}/{{.Finding.Key}}" hx-target="body">Edit</button>
		<button class="bg-red" hx-delete="/finding/{{$.EngagementName}}/{{.Finding.Key}}" hx-confirm='Are you sure you want to delete "{{.Finding.Title}}"' hx-target="body">Delete</button>
	</div>
</div>
<br>
<div class="grid centered">
	<div>
		<h3>Tagged Asset</h3>
		{{if eq .Asset.Key 0}}
		{{else}}
			<a role="button" class="outline" href="/asset/view/{{$.EngagementName}}/{{.Asset.Key}}">{{.Asset.Name}}</a>
		{{end}}
	</div>

	<div>
		<h3>Tagged Description</h3>
		{{if ne .Word.Key 0}}
		<details>
			<summary role="button" class="outline">
				{{.Word.Word}}
			</summary>
			<article>
				{{.Word.Definition}}
			</article>
		</details>
		{{end}}
	</div>
</div>

<br>

<h3>Summary</h3>
<article>
	{{.Finding.Body}}
</article>

<br>



