* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

.bg-primary {
	background-color: #003366; !important
}

.f-white {
	color: white; !important
}

.p-16 {
	padding: 16px; !important
}

.click:hover {
	cursor: pointer;
}

.btn-sm {
	font-size: 0.5em;
	padding: 0.5em;
}

.bg-red {
	background-color: red;
	border-color: red;
}

.f-black {
	color: black; !important
}
