* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 110%;
}

.bg-primary {
	background-color: #003366; !important
}

.f-white {
	color: white; !important
}

.p-16 {
	padding: 16px; !important
}

.click:hover {
	cursor: pointer;
}

.no-click:hover {
	pointer-events: none;
}

.btn-sm {
	font-size: 0.5em;
	padding: 0.5em;
}

.bg-red {
	background-color: red;
	border-color: red;
}

.bg-info {
	background-color: #1E90FF;
}

.bg-low {
	background-color: #3CB371;
}

.bg-medium {
	background-color: #FFD700;
}

.bg-high {
	background-color: #FF4500;
}

.bg-critical {
	background-color: #DC143C;
}

.f-black {
	color: black; !important
}

.b-none {
	border:0;
}

.centered {
	text-align: center;
}

.toast {
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: white;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
